# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages

# Python
__pycache__/
*.pyc
.venv/
venv/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log